.custom-toolbar {
  --background: #fdf1fd;
}

.custom-title {
  color: #28242c;
  font-weight: bold;
  text-align: center;
}

ion-content {
  --background: #20262b;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 24px 16px;
  box-sizing: border-box;
}

.login-card {
  width: 100%;
  max-width: 350px;
  background-color: #fdf1fd;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);

  ion-card-title {
    color: #20262b;
    text-align: center;
    font-weight: bold;
  }

  ion-card-content {
    padding: 16px;
  }
}

.input-personalizado {
  --background: #fdf1fd;
  --color: #fdf1fd;

  border-radius: 12px;
  margin-bottom: 12px;

  ion-label {
    color: #000000;
  }

  ion-input {
    color: #000000;
  }
}

.btn-login {
  --background: #6a5b6c;
  --color: #fdf1fd;
  font-weight: bold;
  border-radius: 8px;
}

.gato-fantasma {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-top: auto;
}

.login-footer {
  width: 100%;
  text-align: center;
  background-color: #28242c;
  color: white;
  padding: 10px 0;
  font-size: 0.85rem;
}
